.form {
    display: flex;
    width: 100%;
}

.input-wrapper{
    font-size: 1rem;
}

.input-field {
    /* height: 40px; */
    padding: 12px 0 8px;
}

.add-todo-btn {
    align-self: center;
    height: 30px;
    width: 130px;
    /* background-color: #4bd479; */
}

/* span button::after {
    content: '4e';
}

.add-todo-btn span::after {
    content: '4e';
} */