.limited-island {
    height: 100%;
}

.limited-island div:nth-child(1) {
    border: none;
}

.island-header div {
    width: 100%;
}


.island-content div {
    border: none;
}

ul {
    padding: 0;
    list-style: none;
}

.heading {
    font-size: 2rem;
}

.info {
    font-size: 1.1rem;
}